<div>
    <div className='container container-fluid'>
        <div className='row'>
            <div className='col-1 col-md-4 '></div>
            <div className='col-10 col-md-4 card  text-center'>
                <h1>This is the admin page</h1>
                <ul class="">
                    {{#each names}}
                        <li>{{this.name}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

</div>