<div>
	<div>
		<h1>Calendar</h1>
		<div id='calendar'></div>
		<a class='btn btn-secondary' href='/schedule' role='button'>Schedule an Event</a>
	</div>
</div>
<script type='module' src='calendar.js'></script>