<div>
  <div>
    <div className="container container-fluid">
      <div className="row">
        <div className="col-1 col-md-4 "></div>
        <div className="col-10 col-md-4 card  text-center">
          <h1 class="user-select-none fs-1">This is the Pipeline Sports Performance Member Management and Facility Data Warehouse</h1>
          <p class="user-select-all">NEED A WALKTHROUGH FOR HOW TO USE APP</p>
          <button type="button" class="btn btn-secondary" href="/evaluation">Create New Evaluation</button>
        </div>
      </div>
    </div>

  </div>
