<div>
  <div>
    <div class="container container-fluid h-100">
      <div class="row justify-content-center h-50 mt-5 gx-0 align-self-center" >
        <div class="col-4" style="border-style:ridge; border-color:rgb(218, 203, 203); border-width:2px">
          <img src="/image/logo.png" alt="Logo">
        </div>
        <div class="col-4 card" style="border-style:ridge; border-color:rgb(216, 204, 204); border-width:2px">
          <div class="card-header bg-primary text-white">
            <h1>Welcome to PSPMMFDW</h1>
          </div>
          <div class="card-body text-center">
            <h5> Please sign-in:</h3>
              <h1><a class="btn btn-primary" href="/google" role="button" ><i class="bi bi-google"></i>Sign in with Google</a></h1>
          </div>      
        </div>
      </div>
    </div>
  </div>
</div>
