<div>
  <div>
    <div className="container container-fluid">
      <div className="row" >
        <div className="col-10 col-md-4 card" >
          <h1>Please sign-in:</h1>
          <h1><a class="btn btn-primary" href="/google" role="button"><i
                class="bi bi-google"
              ></i>
              Sign in with Google</a></h1>
        </div>
      </div>
    </div>
  </div>
</div>
