<div>
    <div className='container container-fluid'>
        <div className='row'>
            <div className='col-10 col-md-4 card  text-center'>
                <form action='/teams' method='POST'>
                    <div class='mb-3'>
                        <label for='newTeam' class='form-label'>Add New Team</label>
                        <input type='text' class='form-control' name='newTeam' />
                    </div>
                    <div class='mb-3'>
                        <label for='headCoach' class='form-label'>Add Head Coach for New Team</label>
                        <input type='text' class='form-control' name='headCoach' />
                    </div>
                    <input type='submit' class='btn btn-primary'></input>

                    <ul class="teams_list">
                        {{#each teams}}
                        <li>
                            {{this.team}}
                            {{!-- Make team details route --}}
                            <a class='btn btn-primary' href='/teamDetails' name='{{this.team}}' role='button'>
                                Get More Details
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </form>
                {{!-- "switch" get more details button. off: list teams on: list players --}}
                {{!-- OR seperate view for get more details and copy players (easier option) --}}
            </div>
        </div>
    </div>
</div>