<div>
    <div className='container container-fluid'>
        <div className='row'>
            <div className='col-10 col-md-4 card text-center'>
                <form action='/teamOptions' method='POST'>
                    <div class='mb-3'>
                        <label for='newPlayer' class='form-label'>Enter the email of the player you would like to
                            add.</label>
                        <input type='text' class='form-control' name='newPlayer' placeholder="example@mail.com" />
                    </div>
                    <div class='mb-3'>
                        <label for='newCoach' class='form-label'>Enter the email of the coach you would like to
                            add.</label>
                        <input type='text' class='form-control' name='newCoach' placeholder="example@mail.com" />
                    </div>
                    <div class='mb-3'>
                        <label for='newCoach' class='form-label'>Enter the name of the team you will be adding the user to.</label>
                        <input type='text' class='form-control' name='teamOption' placeholder="example@mail.com" />
                    </div>
                    <input type='submit' class='btn btn-primary'></input>
                    <div class='mb-3'>
                        <h1>List of Available Players</h1>
                        <ul class="list-group players_list text-center">
                            {{#each players}}
                            <li class="list-group-item">
                                <!-- Button trigger modal -->
                                {{!-- need button to give name of team in order to display appropriate team based
                                players --}}
                                <div class='mb-3'>
                                    {{this.name}}
                                    </button>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                        <h1>List of Available Coaches</h1>
                        <ul class="list-group players_list text-center">
                            {{#each coaches}}
                            <li class="list-group-item">
                                <!-- Button trigger modal -->
                                {{!-- need button to give name of team in order to display appropriate team based
                                players --}}
                                <div class='mb-3'>
                                    {{this.name}}
                                    </button>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </form>
            </div>
            <a class='btn btn-primary' href='/profile' role='button'>Back</a>
        </div>
    </div>
</div>