<div>
    <div className='container container-fluid'>
        <div className='row'>
            <div className='col-10 col-md-4 card  text-center'>
                <ul class="teams_list">
                    {{#each teams}}
                    <li>
                        <h1>{{this.team}}</h1>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>