<div>
    <div className='container container-fluid'>
        <div class="row gx-10">
            <div class="col-5">
                <h3>List of Players on the Team</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each players}}                        
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.email}}</td>                       
                            </tr>
                        {{/each}}     
                    </tbody>
                </table>
            </div>
            <div class="col-5">
                <h3>List of Coaches on the Team</h3>
                <table class="table">
                     <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>    
                    <tbody>
                        {{#each coaches}}                        
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.email}}</td>
                            </tr>
                        {{/each}}                            
                    </tbody>               
                </table>                
            </div>
        </div>

        <div class="row gx-10 mt-5">
            <div class="col-5">
                <form action='/teamRemove' method='POST'>
                   <div class='mb-3'>
                        <label for='removePlayer' class='form-label'><b>Enter the email of the player you would like to
                            remove</b></label>
                        <input type='text' class='form-control' name='removePlayer' placeholder="example@mail.com" />
                    </div>
                </form>                    
            </div>
            <div class="col-5">
                <form action='/teamRemove' method='POST'>
                    <label for='removeCoach' class='form-label'><b>Enter the email of the coach you would like to
                        remove</b></label>
                    <input type='text' class='form-control' name='removeCoach' placeholder="example@mail.com" />
                </form>
            </div>
        </div>
        <a class='btn btn-primary' href='/profile' role='button'>Back</a>
    </div>
</div>