<div>
    <div className='container container-fluid'>
        <div class="row gx-5">
            <div class="col-12 col-md-5 text-center">
                <h3>List of Available Players</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                       {{#each players}}                        
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.email}}</td>                       
                            </tr>
                        {{/each}}  
                    </tbody>
                </table>
            </div>

            <div class="col-12 col-md-5 text-center">
                <h3>List of Available Coaches</h3>  
                <table class="table">
                     <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>    
                    <tbody>
                        {{#each coaches}}                        
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.email}}</td>
                            </tr>
                        {{/each}}                            
                    </tbody>               
                </table>                      
            </div>
        </div>

        <div class="row gx-5">
            <div class="col-12 col-md-5 mt-3">
                <form action='/teamAdd' method='POST'>
                    <div class='mb-3'>
                        <label for='newPlayer' class='form-label'><b>Enter the email of the player you would like to
                            add.</b></label>
                        <input type='text' class='form-control' name='newPlayer' placeholder="example@mail.com" />
                    </div>        
                </form>        
            </div>

            <div class="col-12 col-md-5 mt-3">
                <form action='/teamAdd' method='POST'>
                   <div class='mb-3'>
                        <label for='newCoach' class='form-label'><b>Enter the email of the coach you would like to
                            add.</b></label>
                        <input type='text' class='form-control' name='newCoach' placeholder="example@mail.com" />
                    </div>                
                </form>               
            </div>

            <div class="col-12 col-md-5 mt-3">
                <form action='/teamAdd' method='POST'>
                    <div class='mb-3'>
                        <label for='newCoach' class='form-label'><b>Enter the name of the team you will be adding the user to.</b></label>
                        <input type='text' class='form-control' name='teamOption' placeholder="example@mail.com" />
                    </div>
                </form>
            </div>
        </div>

        <div class='row'>
            <div class="col-auto">
                <input type='submit' class='btn btn-primary'></input>
            </div>
            <div class="col-auto">
                <a class='btn btn-primary' href='/profile' role='button'>Back</a>
            </div>
        </div>
    </div>
</div>