<div>
	<div>
		<div className='container container-fluname'>
			<div className='row'>
				<div className='col-10 col-md-4 card  text-center'>
					{{#if user.coach}}
					<h1 class='title fs-5' name='workoutLabel'>Workout Plan Creation</h1>
					<form action='/workout' method='POST'>
						<div class='mb-3'>
							<label for='coachName' class='form-label'>Coach</label>
							<input type='text' class='form-control' name='coachName' value='{{user.username}}'
								readonly='true' />
						</div>
						<div class='mb-3'>
							<label for='playerName' class='form-label'>Player</label>
							<div class='dropdown'>
								<button class='btn btn-secondary dropdown-toggle' type='button'
									name='dropdownPlayerButton' data-bs-toggle='dropdown' aria-haspopup='true'
									aria-expanded='false'>
									Choose a Player
								</button>
								<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>
									{{#each players}}
									<button class="dropdown-item select-player" type="button"
										onclick="selectPlayer('{{this.id}}')">{{this.name}} <hidden hidden="true">
											{{this.id}}</hidden></button>
									{{/each}}
								</div>
							</div>
							<input type="hidden" id="selectedPlayerInput" name="selectedPlayer" required="true">
							<script>function selectPlayer(playerId) {
									document.getElementById('selectedPlayerInput').value = playerId;
								}
							</script>
						</div>
						<div class='mb-3'>
							<label for='exercise' class='form-label'>Exercise</label>
							<input type='text' class='form-label' name='exercise' />
						</div>
						<div class='mb-3'>
							<label for='sets' class='form-label'>Total Sets for Exercise</label>
							<input type='number' class='form-control' name='sets' />
							<label for='reps' class='form-label'>Total Reps per Set</label>
							<input type='number' class='form-control' name='reps' />
							<label for='weight' class='form-label'>Weight per Exercise</label>
							<input type='number' class='form-control' name='weight' />
						</div>
						<div class='mb-3'>
							<label for='comments' class='form-label'>Comments</label>
							<input type='text' class='form-control' name='commentsWorkout' />
							<label for='exampleVideo' class='form-label'>Example video
								for Exercise</label>
							<input type='text' class='form-control' name='exampleVideo' />
						</div>
						<div id="exerciseFields">
						</div>
						<input type='submit' class='btn btn-primary'></input>
					</form>
					<button id="addExerciseBtn">Add Exercise</button>
					{{/if}}
				</div>
			</div>
		</div>
	</div>

</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const addExerciseBtn = document.getElementById('addExerciseBtn');
        const exerciseFieldsContainer = document.getElementById('exerciseFields');

        addExerciseBtn.addEventListener('click', function() {
            const exerciseField = document.createElement('div');
            exerciseField.innerHTML = `
                <div class='mb-3'>
                    <label for='exercise' class='form-label'>Exercise</label>
                    <input type='text' class='form-label' name='exercise' />
                </div>
                <div class='mb-3'>
                    <label for='sets' class='form-label'>Total Sets for Exercise</label>
                    <input type='number' class='form-control' name='sets' />
                    <label for='reps' class='form-label'>Total Reps per Set</label>
                    <input type='number' class='form-control' name='reps' />
                    <label for='weight' class='form-label'>Weight per Exercise</label>
                    <input type='number' class='form-control' name='weight' />
					<label for='comments' class='form-label'>Comments</label>
					<input type='text' class='form-control' name='commentsWorkout' />
					<label for='exampleVideo' class='form-label'>Example video for Exercise</label>
					<input type='text' class='form-control' name='exampleVideo' />
                </div>
            `;
            exerciseFieldsContainer.appendChild(exerciseField);
        });
    });
</script>