body {
  background-color: darkgray;
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  text-align: center;
}

.accordion-button:not(.collapsed) {
  background-color: hsla(54.03, 85.53%, 53.92%, 1);
}

h3.card-title {
  text-align: center;
}

#my-info {
  margin-bottom: 15px;
}

#eval-card {
  margin-bottom: 10px;
}

#homeEvalAccordion {
  margin-top: 10px;
}